<html>
  <head>
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    {% if title %}
    <title>{{ title }} - Bond Street Challenge</title>
    {% else %}
    <title>Welcome to the Bond Street Challenge</title>
    {% endif %}
  </head>
  <body>
    <header class="header">
      <img src ="../static/assets/images/bondstreet_logo-stacked.png" class="logo" height="65" width="200 " />
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="/step1">Step 1</a></li>
        <li><a href="/step2">Step 2</a></li>
        <li><a href="/step3">Step 3</a></li>
        <li><a href="/step4">Step 4</a></li>
        <li><a href="/step5">Step 5</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>
    <hr />
    {% block content %}{% endblock %}
  </body>
</html>