{% extends "base.html" %}
{% block content %}
    <h1>Step 0</h1>
    <div class="form">
        <form method="post" action="login" >
            <input type='text' name='username' id='username' placeholder='username'></input>
            <input type='password' name='pw' id='pw' placeholder='password'></input>
            <input type='submit' name='submit'></input>
        </form>
    </div>
{% endblock %}