{% extends "base.html" %}
{% block content %}
    <h1>Step 2</h1>
    <div class="form">
        <form method="post" action="step3" >
            <input type="submit" name="step2" value ="step2">
        </form>
    </div>
{% endblock %}