{% extends "base.html" %}
{% block content %}
    <h1>Step 3</h1>
    <div class="form">
        <form method="post" action="step4" >
            <input type="submit" name="step3" value ="step3">
        </form>
    </div>
{% endblock %}