{% extends "base.html" %}
{% block content %}
    <h1>Step 1</h1>
    <div class="form">
        <form method="post" action="step2" >
            <input type="submit" name="step1" value ="step1">
        </form>
    </div>
{% endblock %}